<div class="brand">
	<span id="productName">商旅后台管理系统</span>
</div>
<ul id="userControl" class="nav pull-right">
	<li>
		<a href="/jeesite/f/index-1.html" target="_blank" title="访问网站主页"><i class="icon-home"></i></a>
	</li>
	<li id="userInfo" class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="个人信息">您好, 系统管理员&nbsp;
			<span id="notifyNum" class="label label-info hide" style="display: none;"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="/jeesite/a/sys/user/info" target="mainFrame">
					<i class="icon-user"></i>&nbsp; 个人信息</a>
			</li>
			<li>
				<a href="/jeesite/a/sys/user/modifyPwd" target="mainFrame"><i class="icon-lock"></i>&nbsp; 修改密码</a>
			</li>
			<li>
				<a href="/jeesite/a/oa/oaNotify/self" target="mainFrame"><i class="icon-bell"></i>&nbsp; 我的通知 
					<span id="notifyNum2" class="label label-info hide" style="display: none;"></span>
				</a>
			</li>
		</ul>
	</li>
	<li><a href="/logout" title="退出登录">退出</a></li>
	<li>&nbsp;</li>
</ul>

<div class="nav-collapse">
	<ul id="menu" class="nav" style="*white-space: nowrap; float: none;">
		<li class="menu">
			<a class="menu" href="javascript:" data-href="/jeesite/a/sys/menu/tree?parentId=27" data-id="27"><span>我的面板</span></a>
		</li>
		<li class="menu">
			<a class="menu" href="javascript:" data-href="/jeesite/a/sys/menu/tree?parentId=62" data-id="62"><span>在线办公</span></a>
		</li>
		<li class="menu">
			<a class="menu" href="javascript:" data-href="/jeesite/a/sys/menu/tree?parentId=31" data-id="31"><span>内容管理</span></a>
		</li>
		<li class="menu">
			<a class="menu" href="javascript:" data-href="/jeesite/a/sys/menu/tree?parentId=2" data-id="2"><span>系统设置</span></a>
		</li>
		<li class="menu">
			<a class="menu" href="javascript:" data-href="/jeesite/a/sys/menu/tree?parentId=79" data-id="79"><span>代码生成</span></a>
		</li>
		<li class="menu active">
			<a class="menu" href="javascript:" data-href="/jeesite/a/sys/menu/tree?parentId=b4b42c3336de46238a3e3612b0d7b39f" data-id="b4b42c3336de46238a3e3612b0d7b39f"><span>消息管理</span></a>
		</li>
	</ul>
</div>