<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="accordion" th:id="'menu-' + ${menu.id}" th:each="menu, menuStat:${menuList}">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" 
      	 	data-toggle="collapse" 
	     	th:attr="data-parent='#menu-' + ${menu.id},data-href='#collapse-'+${menu.id}" 
	     	th:href="'#collapse-' + ${menu.id}" 
	     	th:title="${menu.name}">
         <i class="icon-chevron-right"></i>&nbsp;
         <span th:text="${menu.name}"></span>
      </a>
    </div>
    <div th:id="'collapse-' + ${menu.id}" class="accordion-body collapse" th:classappend="${menuStat.index==0} ? 'in' : ''">
      <div class="accordion-inner">
        <ul class="nav nav-list" th:each="child, childStat:${menu.childList}">
          <li>
          	<a target="mainFrame" 
          		th:attr="data-href='.menu' + ${child.id}" 
          		th:href="${child.url}" >
          		<i class="icon-list-alt"></i>&nbsp;
          		<span th:text="${child.name}"></span>
          	</a>
            <ul class="nav nav-list hide" style="margin: 0; padding-right: 0;">
            
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</html>
